/** @format */

:root {
	--bg: #fffcf2;
	--primary-color: #252422;
	--secondary-color: #403d39;
	--light-color: #ccc5b9;
	--tictactoe-color: #eb5e28;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
}

.container {
	display: flex;
	justify-content: center;
}

.player-info {
	margin: 20px 0 40px;
	font-family: "Play", sans-serif;
	font-weight: 400;
	text-align: center;
}

.player-info span {
	font-size: 32px;
	font-weight: 700;
}

.game-board {
	max-width: 40vw;
	min-width: 30vw;
	max-width: 40vh;
	min-height: 30vh;
	display: flex;
	flex-wrap: wrap;
	color: var(--tictactoe-color);
	/* text-align: center; */
	font-size: 32px;
}

.game-box {
	flex: 0 0 33.333333%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--secondary-color);
	border-right: 1px solid var(--secondary-color);
	cursor: pointer;
	transition: background-color 100ms ease-in;
}

.game-box:hover {
	background-color: var(--secondary-color);
}

.game-box:nth-child(7),
.game-box:nth-child(8),
.game-box:nth-child(9) {
	border-bottom: none;
}

.game-box:nth-child(3),
.game-box:nth-child(6),
.game-box:nth-child(9) {
	border-right: none;
}

.game-box p {
	font-family: "Oooh Baby", cursive;
	text-transform: uppercase;
	text-shadow: 1px 1px 5px var(--primary-color);
	padding: 0;
	margin: 0;
}

/* Disable Selection */
.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
