/** @format */

:root {
	--bg: #fffcf2;
	--primary-color: #252422;
	--secondary-color: #403d39;
	--light-color: #ccc5b9;
	--tictactoe-color: #eb5e28;
	--font-family: "Play", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
}

.container {
	display: flex;
	justify-content: center;
}

.player-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0 40px;
	font-family: var(--font-family);
	font-weight: 400;
	text-align: center;
}

.game-state {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 15px;
}

.game-state p {
	font-size: 24px;
}

.game-state .fading-arrows {
	animation-name: fadingAnimation;
	animation-duration: 1300ms;
	animation-fill-mode: backwards;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes fadingAnimation {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0;
	}
}

.game-state span {
	font-size: 32px;
	font-weight: 700;
}

.input-indicator {
	padding: 6px 10px;
	border: 1px solid var(--primary-color);
	background-color: var(--light-color);
	border-radius: 5px;
}

.input-indicator span {
	padding: 0 1px;
}

.animate-text-editable {
	animation-name: blinking-cursor;
	animation-duration: 450ms;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}

.input-indicator span:focus-visible {
	animation-name: none;
	outline: none;
}

@keyframes blinking-cursor {
	from {
		border-right: 1px solid rgba(0, 0, 0, 0);
	}

	to {
		border-right: 1px solid var(--tictactoe-color);
	}
}

.switch-mode {
	display: inline-block;
	font-size: 28px;
	cursor: pointer;
	color: var(--secondary-color);
	transition: transform 100ms ease-in, color 65ms ease-in;
	vertical-align: text-bottom;
}

.switch-mode:nth-child(1) {
	margin-right: 10px;
}

.switch-mode:nth-child(3) {
	margin-left: 10px;
}

.switch-mode:hover {
	color: var(--primary-color);
}

.switch-mode:nth-child(1):hover {
	transform: translateX(-2px);
}

.switch-mode:nth-child(3):hover {
	transform: translateX(2px);
}

.switch-mode:active {
	color: var(--tictactoe-color);
}

.game-result {
	font-size: 40px;
}

.game-result.win {
	color: green;
}

.game-result.lose {
	color: red;
}

.game-result.draw {
	color: var(--tictactoe-color);
}

.game-board {
	max-width: 40vw;
	min-width: 30vw;
	max-width: 40vh;
	min-height: 30vh;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	font-family: "Oooh Baby", cursive;
	font-size: 40px;
	color: var(--tictactoe-color);
	text-transform: uppercase;
	text-shadow: 1px 1px 5px var(--primary-color);
}

.game-box {
	min-width: 50px;
	min-height: 100px;
	flex: 0 0 33.333333%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--secondary-color);
	border-right: 1px solid var(--secondary-color);
	transition: background-color 100ms ease-in;
}

.game-box:hover {
	background-color: var(--light-color);
}

.game-box:nth-child(7),
.game-box:nth-child(8),
.game-box:nth-child(9) {
	border-bottom: none;
}

.game-box:nth-child(3),
.game-box:nth-child(6),
.game-box:nth-child(9) {
	border-right: none;
}

.btn {
	padding: 10px 15px;
	margin-top: 40px;
	max-width: fit-content;
	border: 1px solid var(--secondary-color);
	color: var(--primary-color);
	font-family: var(--font-family);
	transition: color 100ms ease-in, background-color 100ms ease-in, transform 150ms ease;
}

.btn:hover {
	background-color: var(--secondary-color);
	color: var(--bg);
	transform: translateY(-3px);
}

.btn:active {
	background-color: var(--primary-color);
	color: var(--bg);
	transform: translateY(1px);
}

/* Visibility */
.d-none {
	display: none !important;
}

/* Disable Selection */
.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Disabled */
.disabled {
	cursor: not-allowed;
}
